*.pydevproject
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Sumatra's bullshit
RemoteSystemsTempFiles/
config/user/**
logs/**
*.directory
*.class
!lib/native/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"

# CDT-specific
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
